<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shifter - Privacy Policy</title>
</head>

<body>
    <h2>Introduction</h2>
    <p>Shifter is a service that allows you to connect a calendar from supported vendors (eg. Google Calendar) and
        create 'Shifts'
        to quickly add repetitive events to your calendar.</p>
    <p>This Privacy Policy describes:</p>
    <ul>
        <li>What information Shifter collects</li>
        <li>How Shifter collects information</li>
        <li>How Shifter uses the collected information</li>
        <li>Dispute Resolution</li>
        <li>Future Changes to this Privacy Policy</li>
        <li>Contact Information</li>
    </ul>

    <h2>What information Shifter collects:</h2>
    <ul>
        <li>Your username and password when your register for a Shifter account</li>
        <li>Your external calendars when you connect them</li>
        <li>Any 'Shifts' (preset events) that you create</li>
    </ul>

    <h2>How Shifter collects information</h2>
    <p>Shifter collects information that you enter, which are your username, password, 'Shifts' you create, and external
        calendars
        you connect.
    </p>

    <h2>How Shifter uses the collected information</h2>
    <p>Your personal information stays within Shifter and is never given or sold to any third parties.</p>
    <p>We use your personal information to:</p>
    <ul>
        <li>Identify you and display the calendars you connected</li>
        <li>Add 'Shifts' to your connected calendars</li>
    </ul>

    <h2>Dispute Resolution</h2>
    <p>If you have an unresolved privacy or date use concern that we have not addressed satisfactorily, please contact
        the
        developer at maxwelltechmaster@outlook.com.
    </p>

    <h2>Future Changes to this Privacy Policy</h2>
    <p>This Privacy Policy may change to reflect changes in the way Shifter works. A notice will be displayed on the
        website
        pending a Privacy Policy change. Unless there are legal grounds to do otherwise, 30 days notice will be given
        before
        any Privacy Policy change is effective. As of the effective date of the revised policy change, you will be
        considered
        as having consented to all changes in the Privacy Policy. If you disagree with the terms of this Privacy Policy,
        you
        may close you account at any time.
    </p>

    <h2>Contact Information</h2>
    <p>If you have a question about this Privacy Policy, you may contact the developer at this email address:
        maxwelltechmaster@outlook.com.</p>
</body>

</html>