<!DOCTYPE html>
<html>
    <head>
        <title>Shifter - Calendar View</title>
        <link rel="stylesheet" href="C:\Users\Maxwell\OneDrive\My_Cool_Programs\Shifter\shifter\templates\calendarview\style.css">
    </head>
    <body>
        <header>
            <h1>Shifter</h1>
            <p>Hello, {{ username }}</p>
        </header>
        <section class="content">
            <div class="config-values">config</div>
            <div class="calendar-wrapper">
                <div class="calendar">calendar</div>
            </div>
            <div class="shift-config">
                <button class="create-shift-btn">+ Create shift</button>
            </div>
        </section>
    </body>
</html>