<!DOCTYPE html>
<html>
    <head>
        <title>Shifter - Calendar View</title>
        <link rel="stylesheet" href="C:\Users\Maxwell\OneDrive\My_Cool_Programs\Shifter\shifter\templates\calendarview\style.css">
    </head>
    <body>
        <header>
            <h1>Shifter</h1>
            <p>Hello, {{ username }}</p>
        </header>
        <section class="content">
            <div class="config-values"></div>
            <div class="calendar"></div>
            <div class="shift-values"></div>
        </section>
    </body>
</html>