<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>Shifter</h1>
        </header>
        <section>
            <h3>{% block auth_type %}{% endblock %}</h3>
            <form action="" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" required>
                {% block submit %}{% endblock %}
            </form>
        </section>

    </body>
</html>