<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href={{ url_for("static", filename="auth/style.css") }}>
    </head>
    <body>
        <header>
            <h1>Shifter</h1>
            {% block header %}{% endblock %}
        </header>
        <section>
            <h3>{% block auth_type %}{% endblock %}</h3>
            {% if error is defined %}<p>{{ error }}</p>{% endif %}
            <form action="" method="post">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                {% block submit %}{% endblock %}
            </form>
        </section>
    </body>
</html>