* {
    border: 1px solid black; /* Remove this later */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
}

/* Header with Shifter and user greeting */
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10%;
}

header h1 {
    grid-column: 1 / 2;   
}

header p {
    grid-column: 2 / 3;
    text-align: right;
    padding-top: 1rem;
}

header form {
    grid-column: 3 / 4;
    justify-self: end;
    align-self: center;
}

/* Main page layout */
.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 10fr;
    height: 90%;
}

.config-values {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #ABEBC6;
}

.calendar-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #AED6F1;
    position: relative;
}

.shift-config {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #F5B7B1;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 10%;
}

.calendar {
    width: 95%;
    height: 95%;
    /* Centers calendar in its container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Grid stuff */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(5, 4fr);
}
.calendar-month {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
}
.calendar-names-of-days {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.no-date {
    border: none;
}
.event {
    width: 100%;
    font-size: 0.8em;
}

.connect-btns-wrapper {
    grid-column: 3 / 6;
    grid-row: 5 / 6;
    font-size: 1.3rem;
    padding: 0.5em;
}
.calendar-connect-btn {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 0.3em;
}
.google {
    background-color: lightsalmon;
}
.outlook {
    background-color: lightblue;
}

#error {
    color: red;
    grid-column: 3 / 6;
    grid-row: 5 / 6;
    font-size: 1rem;
}