@font-face {
    font-family: 'icons';
    src: url('./../icons/fontello-ec1a3ecf/font/icons.eot?83239665');
    src: url('./../icons/fontello-ec1a3ecf/font/icons.eot?83239665#iefix') format('embedded-opentype'),
        url('./../icons/fontello-ec1a3ecf/font/icons.woff?83239665') format('woff'),
        url('./../icons/fontello-ec1a3ecf/font/icons.ttf?83239665') format('truetype'),
        url('./../icons/fontello-ec1a3ecf/font/icons.svg?83239665#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Initialization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* Header with Shifter and user greeting */
header {
    
    display: grid;
    grid-template-columns: 90% 10%;
}

header h1 {
    color: rgb(205, 97, 85);
    text-align: center;
    margin: auto 0;
    font-size: 3em;
}

header .user-config p {
    text-align: center;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

header .user-config input {
    display: block;
    margin: 0 auto;
    padding: 0.2em;
}

/* Main page layout */
.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 10fr;
    height: 90%;
    background-color: rgb(236, 240, 241);
}

.config-values {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(236, 240, 241);
}

/* Custom calendar select */
.custom-select-calendars select { display: none; }

.custom-select-calendars {
    position: relative;
    place-self: center;
    width: 75%;
}

.custom-select-calendars .opener {
    position: relative;
    display: block;
    background-color: rgb(205, 97, 85);
    color: white;
    border-style: outset;
    border-color: rgb(157, 76, 67);
    text-align: center;
    font-size: 1.3em;
    padding: 0.3em;
    cursor: pointer;
}

.custom-select-calendars .calendar-list {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 99;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1.5em;
    max-height: 7.5em;
    overflow-y: auto;
    cursor: default;
}
.custom-select-calendars .calendar-list.hide {
    display: none;
}

.custom-select-calendars .calendar-list .calendar-option {
    background-color: rgb(205, 97, 85);
    border-top: 1px solid rgb(157, 76, 67);
    font-size: 1em;
    text-align: center;
}

.custom-select-calendars .calendar-list .calendar-option.all-calendars {
    background-color: rgb(243, 133, 121);
}

.custom-select-calendars .calendar-list .calendar-option:hover {
    background-color: rgb(190, 91, 80);
}

.custom-select-calendars .calendar-list .selected-calendar,
.custom-select-calendars .calendar-list .selected-calendar:hover {
    background-color: rgb(157, 76, 67);
}

.config-connect-btns-wrapper {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: end;
    justify-items: center;
}

.config-connect-btns-wrapper::before {
    position: absolute;
    top: 1px;
    width: 100%;
    height: 30%;
    background-color:rgb(240, 243, 244);
    font-size: 80%;
    content: "Connect a calendar:";
    text-decoration: underline;
    text-align: center;
}

.config-connect-btns-wrapper button {
    margin-bottom: 0.3em;
    padding: 0.3em;
}
.config-connect-btns-wrapper button i {
    font-family: "icons";
    margin-right: .3ch
}
.config-connect-btns-wrapper button.google-style {
    color: orange;
}
.config-connect-btns-wrapper button.outlook-style {
    color: blue;
}

.confirm-btn {
    grid-column: 3 / 4;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    font-size: 1vw;
    padding: 0.7em 1.3em;
}

/* Everything related to Shifts */
.shift-config {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1rem;
}

/* View related to selecting a Shift */
#select-shift-view {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

.create-shift-btn {
    width: 80%;
    margin: 1em auto;
}

.custom-shift-select {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    color: rgb(240, 243, 244);
}

.custom-shift-select select {
    display: none;
}

.custom-shift-select .select-selected {
    grid-row: 1 / 2;
    background-color: rgb(205, 97, 85);
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 1.3em;
    align-self: end;
    justify-self: center;
    width: 80%;
    border-color: rgb(157, 76, 67);
    border-style: outset;
}

.custom-shift-select .select-selected.select-arrow-active::after {
    top: 0.5em;  /* To minimize arrow movement when switiching */
    border-color: transparent transparent #fff transparent;
}

.select-hide {
    display: none;
}

.custom-shift-select .select-options {
    grid-row: 2 / 3;
}

.custom-shift-select .select-options div {
    background-color: rgb(205, 97, 85);
    border-top: 1px solid rgb(157, 76, 67);
    border-bottom: transparent;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    cursor: default;
}
.custom-shift-select .select-options div:hover {
    background-color: rgb(190, 91, 80);
}
.custom-shift-select .select-options .select-selected-option,
.custom-shift-select .select-options .select-selected-option:hover {
    background-color: rgb(157, 76, 67);
}

.custom-shift-select .select-options div button {
    font-family: "icons";
    color: black;
    background-color: transparent;
}
.custom-shift-select .select-options div button:hover {
    color: red;
}

@keyframes deleting-shift {
    from {opacity: 0.1;}
    to {opacity: 0.5;}
}

/* View related to creating a Shift */
#create-shift-view {
    display: none;
    margin-top: 2rem;
    width: 100%;
    height: calc(100% - 2rem);
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
}

#create-shift-view form {
    width: 100%;
    grid-row: 1 / 2;
}

#create-shift-view form label {
    display: block;
    text-align: center;
    font-size: 1.3em;
}

#create-shift-view form input {
    display: block;
    font-size: 1.5em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
}
#create-shift-view form input[type="time"] {
    width: 60%;
}
#create-shift-view form input[type="submit"] {
    font-size: 1.3em;
    height: 1.8em;
}

.create-shift-go-back-btn {
    width: 90%;
    grid-row: 2 / 3;
    font-size: 1em;
    height: 1.2em;
    background-color: red;
    margin: 0 auto;
}

#create-shift-status {
    display: block;
    grid-row: 3 / 4;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
#create-shift-status .loading {
    display: none;
    margin: auto 0;
    animation: fade-out-fade-in 1s alternate infinite;
}
#create-shift-status .error {
    display: none;
    margin: auto 0;
    color: red;
    font-size: 0.5em;
}

@keyframes fade-out-fade-in {
    from {opacity: 0;}
    to {opacity: 100;}
}

.calendar-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
}

.calendar {
    width: 95%;
    height: 95%;
    /* Centers calendar in its container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Grid stuff */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(5, 4fr);

    border-top: 1px solid black;
    border-left: 1px solid black;
}

.calendar-month {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    padding: 0.3em 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;

    border-right: 1px solid black;
}
.month-nav-btn {
    height: 90%;
    background-color: transparent;
    padding: 0.3em;
    cursor: pointer;
}
.month-nav-btn.prev {
    float: left;
    margin-left: 5px;
}
.month-nav-btn.next {
    float: right;
    margin-right: 5px;
}

.calendar-names-of-days {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.calendar-names-of-days > span {
    border-right: 1px solid black;
}

.calendar-date {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.event {
    width: 100%;
    font-size: 0.8em;
    border: 1px solid black;
}
.pending {
    animation: light-pulse 1s infinite alternate;
    border: 1px dashed black;
}

@keyframes light-pulse {
    from { border-color: black; color: black; }
    to { border-color: rgb(0, 0, 0, 0.4); color: rgb(0, 0, 0, 0.4); }
}

.connect-btns-wrapper {
    grid-column: 3 / 6;
    grid-row: 5 / 6;
    font-size: 1.3rem;
    padding: 0.5em;
}
.calendar-connect-btn {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 0.3em;
}
.google-btn {
    background-color: lightsalmon;
}
.outlook-btn {
    background-color: lightblue;
}

#error {
    color: red;
    grid-column: 3 / 6;
    grid-row: 5 / 6;
    font-size: 1rem;
}

.spinner-overlay {
    display: grid;
    z-index: 99;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center center;
}
.spinner-overlay.hide {
    display: none;
}

.spinner {
    width: 100%;
    height: 100%;
    border: 5px solid;
    border-color: rgb(205, 97, 85) grey grey grey;
    border-radius: 50%;
    animation: rotation 0.6s infinite linear;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.modal-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
}

.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 50%;
    height: 40%;
    overflow-y: auto;
}

.all-calendars-modal h3 {
    text-align: center;
    font-size: 2em;
    padding: 0.3em;
    color: rgb(157, 76, 67);
}

.all-calendars-modal ul {
    list-style-type: none;
}

.all-calendars-modal ul li {
    font-size: 1.5em;
    padding: 0.5em 0;
    margin: 1em;
    text-align: center;
    border-bottom: 1px solid grey;
}

.all-calendars-modal ul li a {
    color: rgb(205, 97, 85);
    text-decoration: none;
}

.all-calendars-modal ul li a:hover {
    text-decoration: underline;
}

.all-calendars-modal ul li button {
    position: relative;
    left: 2em;
    padding: 0.2em;
    background-color: rgb(205, 97, 85);
    border: 3px outset rgb(157, 76, 67);
}

.name-calendar-modal h3 {
    text-align: center;
    font-size: 2em;
    padding: 0.3em;
    color: rgb(157, 76, 67);
    margin-bottom: 1em;
}

.name-calendar-modal form {
    display: grid;
    grid-auto-flow: row;
    place-items: end end;
}

.name-calendar-modal form input[type="text"] {
    justify-self: center;
    align-self: end;
    width: 50%;
    margin-bottom: 1em;
    font-size: 1.3em;
}

.name-calendar-modal form input[type="submit"] {
    justify-self: center;
    align-self: start;
    background-color: rgb(205, 97, 85);
    border-color: rgb(157, 76, 67);
    border-style: outset;
    padding: 0.3em;
}

.name-calendar-modal form input[type="submit"]:active {
    border-style: inset;
}